#schedule-body {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    height: 85%;
}

#schedule-header {
    height: 15%;
    width: 100%;
    box-shadow: 0 8px 6px -6px #cecece;
    margin-bottom: 2px;
    border: 1px solid #dddddd;
}

#schedule {
    padding: 0;
    height: calc(90vh - 60px);
    margin: auto;
    position: relative;
    width: 90%;
    background-color: white;
    box-shadow: 10px 10px 10px #cecece;
    top: 40px;
}


.EventsContainer {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.Predavanja {
    background-color: #0288D1;
    position: absolute;
    width: 100%;
}

.day-name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -30px;
    color: #6d6c6c;
    font-size: 15px;
}

.day-time {
    font-size: 13px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    color: #6d6c6c;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.scheduler-column {
    position: relative;
    height: 100%;
    width: 19%;
    float: left;
    border: 1px solid #dddddd;
    border-width: 1px;
}

.hours-column {
    width: 5%;
    font-size: 10em;
}

#scheduler-hours {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Add new event popup*/
#add-new-event {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border: 2px solid black;
    width: 30%;
    height: 30%;
    transition: 200ms ease-in-out;
}

    #add-new-event.active {
        transform: translate(-50%, -50%) scale(1);
    }

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }
