<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FaxMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Navigation.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/15ca321b4b.js" crossorigin="anonymous"></script>
</head>
<body>

    @*<div class="container-fluid" id="header">

            <div class="hamburgerIcon" onclick="ToggleMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <a class="navbar-brand" id="siteName">Faksistent</a>

        </div>

        <nav id="sideBarNav" class="container col-md-2 float-left">
            <span class="navbar-toggler-icon"></span>
            <ul>
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="Schedule" asp-action="Index">Schedules</a>
                </li>
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="Faculty" asp-action="Index">Study programs</a>
                </li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="LogOut">Log out</a>
                    </li>
                }


            </ul>
        </nav>*@

    <div class="container-fluid" id="header">

    <div/>

        <nav class="main-menu">
            <ul>
                <li>
                    <a href="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>
            </ul>

            <ul>
                <li>
                    <a asp-controller="Schedule" asp-action="Index">
                        <i class="fas fa-calendar-alt fa-2x"></i>
                        <span class="nav-text">
                            Raspored
                        </span>
                    </a>

                </li>
            </ul>


            <ul class="logout">
                <li>
                    <a href="#">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>



        <div style="padding:0; width:calc(100% - 60px);margin:0; left:60px; position:relative; top:60px">
            @RenderBody()
        </div>



        <footer>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
        <link href="~/css/Site.css" rel="stylesheet" />
        @RenderSection("Scripts", required: false)
</body>
</html>
