<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FaxMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FaxMVC</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            @if (@User.Identity.IsAuthenticated)
                            {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">Log out</a>
                        </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <div class="container-fluid" id="header">

        <div class="hamburgerIcon" onclick="ToggleMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <a class="navbar-brand" id="siteName">Faksistent</a>

    </div>

    <nav id="sideBarNav" class="container col-md-2 float-left">
        <span class="navbar-toggler-icon"></span>
        <ul>
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Schedule" asp-action="Index">Schedules</a>
            </li>
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Faculty" asp-action="Index">Study programs</a>
            </li>
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Schedule" asp-action="Create">Create schedule</a>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                </li>
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                </li>
            }
            else
            {
                <li>
                    <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="LogOut">Log out</a>
                </li>
            }


        </ul>
    </nav>



    <div class="container-fluid col-md-10 offset-2" style="padding:0;" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FaxMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <link href="~/css/Site.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false)
</body>
</html>
