@model FaxMVC.Models.Schedules.CreateScheduleModel

<div class="container-fluid col-md-6 offset-3">


    <form action="/Form" method="post">
        <h1>Create schedule</h1>

        <label for="number"><b>Semester</b></label>
        <input type="text" asp-for="Semester" placeholder="Enter Semester" required>

        <select asp-for="StudyProgramId"
                asp-items="@(new SelectList(Model.StudyPrograms,"Id","Name"))">
            <option>New study program</option>
        </select>

        <button type="submit" class="registerbtn" asp-controller="Schedule" asp-action="Create">Create</button>

    </form>


</div>

