
@{
    ViewData["Title"] = "Index";
}

    <div class="navigation container">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Schedule" asp-action="Create">
                    Create new schedule
                </a>
            </li>
        </ul>
    </div>

