
@{
    ViewData["Title"] = "Index";
}

<div class="navigation container">
    <ul class="list-unstyled">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Schedule" asp-action="Create">
                Create new schedule
            </a>
        </li>
    </ul>
</div>
@* stanka vraza 7, quatro stagione *@
<div class="container-fluid" style=":0; height:500px; margin-top:30px; position:relative; background-color:teal">
    <div style="position:relative; float:left; height:100%; width:20%; background-color:green; margin:0; padding:0;">

    </div>

    <div style="position:relative; float:left; height:100%; width:20%; background-color:beige; margin:0; padding:0;">

    </div>

    <div style="position:relative; float:left; height:100%; width:20%; background-color:red; margin:0; padding:0;">

    </div>

    <div style="position:relative; float:left; height:100%; width:20%; background-color:black; margin:0; padding:0;">

    </div>

    <div style="position:relative; float:left; height:100%; width:20%; background-color:pink; margin:0; padding:0;">
        <div style="background-color:black; position:relative; top:4%; height:12%">

        </div>
    </div>
</div>

