@model FaxMVC.Models.Schedules.GenerateEventsModel

@{
    ViewData["Title"] = "Index";
}


<head>
    <link href="~/css/Scheduler.css" rel="stylesheet" />
</head>


@* stanka vraza 7, quatro stagione *@


<div id="schedule">
    <div id="schedule-header">

    </div>

    <div id="schedule-body">
        <div class="scheduler-column hours-column">
            <div class="day-name hour"></div>

            <div id="scheduler-hours">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Ponedjeljak
            </div>

            <div class="EventsContainer" id="Monday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Utorak
            </div>

            <div class="EventsContainer" id="Tuesday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Srijeda
            </div>

            <div class="EventsContainer" id="Wednesday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Četvrtak
            </div>

            <div class="EventsContainer" id="Thursday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Petak
            </div>

            <div class="EventsContainer" id="Friday">

            </div>
        </div>
    </div>


    <script src="~/js/Scheduler.js"></script>


    <script type="text/javascript">

        InsertHoursColumn();
        GenerateEvents('@Model.Json');

    </script>


</div>

