@model FaxMVC.Models.Schedules.GenerateEventsModel

@{
    ViewData["Title"] = "Index";
}


<head>
    <link href="~/css/Scheduler.css" rel="stylesheet" />

</head>


@* stanka vraza 7, quatro stagione *@


<div id="schedule">
    <div id="schedule-header">
        <button type="button" class="btn btn-info" id="toggleForm">Dodaj nastavu</button>

        <select asp-for="Schedule" asp-items="@(new SelectList(Model.UserSchedules,"Id","Id"))" id="schedulePicker" onchange="GetEvents()"></select>
    </div>

    <div id="schedule-body">
        <div class="scheduler-column hours-column">
            <div class="day-name hour"></div>

            <div id="scheduler-hours">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Ponedjeljak
            </div>

            <div class="EventsContainer" id="Monday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Utorak
            </div>

            <div class="EventsContainer" id="Tuesday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Srijeda
            </div>

            <div class="EventsContainer" id="Wednesday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Četvrtak
            </div>

            <div class="EventsContainer" id="Thursday">

            </div>
        </div>

        <div class="scheduler-column">
            <div class="day-name">
                Petak
            </div>

            <div class="EventsContainer" id="Friday">

            </div>
        </div>
    </div>


</div>

@* Popup for adding new event *@
<div id="overlay">

</div>

<form action="/Form" method="post" id="add-new-event">
    <h1>Dodaj nastavu</h1>

    <button type="submit" class="registerbtn" asp-controller="User" asp-action="Register">Register</button>

    @foreach (var modelErrors in ViewData.ModelState)
    {
        @foreach (var error in modelErrors.Value.Errors)
        {
            <p>@error.ErrorMessage</p>
        }
    }
</form>






@* Scripts *@
<script src="~/js/Scheduler.js"></script>
<script src="~/js/Scheduler/AddEventPopUp.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    InsertHoursColumn();
    $(document).ready(function () {
        GetEvents();
    });

</script>



